/* clientes.css */

/* Reset e Estilo Geral */
body,
h1,
table,
th,
td {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  padding: 1rem;
  background-color: #f9f9f9;
}

header {
  background-color: #007bff;
  color: white;
  padding: 1rem;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav a {
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: #0056b3;
}

main {
  margin: 2rem 0;
}

h1 {
  margin-bottom: 1rem;
}

/* Estilo para tabelas */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

thead {
  background-color: #007bff;
  color: white;
}

th,
td {
  padding: 0.8rem 1rem;
  border: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

tbody tr:hover {
  background-color: #e9ecef;
  transition: background-color 0.3s ease;
}

footer {
  text-align: center;
  background-color: #f1f1f1;
  padding: 1rem;
}
